:root {
  --primary-color: #354649;
  --secondary-color: #e0e7e9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background-color: var(--secondary-color);
  font-family: Karla, sans-serif;
}

hr {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.hero-unit {
  background: var(--primary-color);
  padding: 15px;
}
.hero-unit h1 {
  color: var(--secondary-color);
}
.heroWrap {
  padding: 0px;
}

h1.aboutMe,
h1.myWork {
  font-size: 60px;
}

.contact-paragraphs p {
  font-size: 20px;
}

/* index page specific */

h1.index {
  font-size: 96px;
  color: var(--primary-color);
}

h2.index {
  font-size: 50px;
}

h3.index {
  font-size: 24px;
  opacity: 0.7;
}

p.index {
  font-size: 19px;
  line-height: 1.5;
}

img.index {
  vertical-align: unset;
}

/* my work page specific */

h2.myWork {
  font-size: 35px;
}

img.myWork {
  box-shadow: var(--box-shadow);
}

.myWorkLink {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

.myWorkLink:hover {
  color: var(--primary-color);
  background-color: var(--teritary-color);
}

.optional li {
  list-style: "+  ";
}
.postScript {
  font-size: 16px;
  font-style: italic;
}
/* social links on each page */

.social-links a {
  margin: 0 18px;
  padding: 10px 15px;
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 0.5px solid var(--primary-color);
}

/* responsive changes */

@media (max-width: 576px) {
  .myWorkLink {
    margin: 0 auto;
    display: block;
    padding: 10px 5px;
    font-size: 12px;
    text-align: center;
    width: 70%;
  }
  h2.apps {
    font-size: 20px;
    text-align: center;
  }
  .myWorkColumn p {
    font-size: 16px;
  }
  .myWorkColumn {
    width: 100%;
  }
  h1.aboutMe {
    font-size: 45px;
  }
  img.about {
    margin: 8px 0px;
  }
  h1.myWork {
    font-size: 40px;
  }
  .myWorkCol {
    width: 100%;
  }
  .contact-paragraphs {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .myWorkLink {
    display: block;
    padding: 10px 5px;
    font-size: 20px;
    text-align: center;
  }
  h2.apps {
    text-align: center;
  }
  h1.myWork {
    font-size: 35px;
  }
}

.about-paragraphs {
  margin: 30px 60px 30px 60px;
}